<!DOCTYPE html>

<HTML>

<HEAD>
    <TITLE>{{title}}</TITLE>
    <META HTTP-EQUIV=PRAGMA CONTENT=NO-CACHE>
    <META HTTP-EQUIV=EXPIRES CONTENT=-1>
    <META HTTP-EQUIV=REFRESH CONTENT={{refresh}}>
</HEAD>

<BODY BGCOLOR="BLACK" BACKGROUND_XDISABLE="grill.jpg">
    <H2 ALIGN="CENTER">
        <B>
            <FONT COLOR="YELLOW">{{info}}</FONT>
        </B>
    </H2>
    <P ALIGN="CENTER">
        <IMG SRC="{{image}}" STYLE="HEIGHT: 100%" ALT="out_of_hours.jpg" WIDTH_X="420" HEIGHT_X="420">
    </P>
</BODY>

</HTML>