<!doctype html>

<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <meta http-equiv=pragma content=no-cache>
    <meta http-equiv=expires content=-1>
    <meta http-equiv=refresh content={{refresh}}>
</head>

<body>

<div class="container">
    <!--
   style="width: 100%" - ok on desktop but too small on mobile
   style="height: 100%" - desktop image is zoomed in and does not fills the height!?
   style="width: 100%; height: 100%" - best so far, on mobile small as dimension same as width but can be zoomed in
    -->
    <img src="{{image}}" style="width: 100%; height: 100%" alt="out_of_hours.jpg" widthx="420" heighxt="420">
    <div class="top-left">{{info}}</div>
</div>

<script src="/static/scripts.js" charset="utf-8"></script>

</body>

</html>