[Unit]
Description=Climate Service
After=network.target

[Service]
ExecStart=/home/pi/code_pi/iot/climate_DHT22.sh
WorkingDirectory=/home/pi/code_pi/iot
StandardOutput=inherit
StandardError=inherit
#Restart=always
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
