[Unit]
Description=Pi Webserver Service
After=network.target

[Service]
ExecStart=/home/pi/code_pi/PiWebServer/pi_ws.sh
WorkingDirectory=/home/pi/code_pi/PiWebServer
StandardOutput=inherit
StandardError=inherit
#Restart=always
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
